---
pageName : about
pageType : company_profile
---

<html lang="zn-ch">
    {% include head.html  %}
    <body>
         {% include header.html  %} 
        <div class="page-background">
            <img class="page-background-image" src="images/company.png">
        </div>
        <div class="page-company"><p>           四川德善信达电子商务有限公司，是由四川德善投资管理有限公司倾力打造的全资分公司，坐落于高新技术产业密集的成都市天府新城，于2014年7月正式成立！<br/>
               &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;四川德善投资管理有限公司，是由北京厚诚德康科技有限公司、四川厚诚德康大健康管理有限公司发展而来。于2013年10月8日，在地处享有“天府之国”美誉的四川省成都市高新技术产业密集的成都市天府新城成立。是一家以健康产业为龙头，其产品服务覆盖生物技术、医疗器械、营销策划、养生地产、文化传媒、娱乐休闲、医药连锁等多个行业领域的综合性集团化投资管理公司。<br/>
              &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;在当今互联网快速普及、电子商务高速发展，大数据逐渐引领市场的背景下，集团总公司秉承“多元化、正规化、集约化、规模化”的发展推动战略，快速响应本地化、互动化、o2o（O2O即Online To Offline，也即将线下商务的机会与互联网结合在一起）的大趋势，将线下传统购物方式与线上网络购物模式相结合，2014年7月--“德善信达电子商务”应运而生。<br/>
                    &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;德善信达电子商务公司在高层对市场需求充分了解，制定前瞻性策略发展的大前提下，引领了一批怀揣梦想、敢于拼搏、勇于创新的电子商务人才。创建了一支朝气蓬勃的年轻化队伍，我们将秉集团公司的“诚信、共赢、求实、创新”的企业理念，以市场为导向，以创新为动力，以品质为核心，以卓越为标准，高歌猛进，只争朝夕，昂首迈德善崭新的时代！
跨越巅峰，纵览天下，倾力铸就德善不朽的品牌！</p></div>
    </body>
    {% include navigation.html %}
    {% include footer.html  %}
</html> 
