---
pageName : company_profile
pageType : page
---
<html lang="zn-ch">
    {% include head.html  %}
    <body>
        {% include header.html %}
        <div class="page-background">
            <img class="page-background-image" src="images/contact_background.png">
        </div>
        <div class="page-profile">
            <img class="page-profile-image" src="images/line.png">
            <div class="page-profile-one">2014-6
                <div class="page-profile-text"><p>四川 </p></div>
            </div>
            <div class="page-profile-two">2014-6
                <div class="page-profile-text"><p>四川 </p></div>
            </div>
            <div class="page-profile-three">2014-6
                <div class="page-profile-text"><p>四川 </p></div>
            </div>
            <div class="page-profile-four">2014-6
                <div class="page-profile-text"><p>四川 </p></div>
            </div>
        </div>
        {% include navigation.html %}
        {% include footer.html %}
    </body>
</html>

