---
pageName : company_profile
pageType : page
---
<html lang="zn-ch">
    {% include head.html  %}
    <body>
        {% include header.html %}
        <div class="page-background">
            <img class="page-background-image" src="images/contact_background.png">
        </div>
        <div class="page-profile">
            <img class="page-profile-image" src="images/line.png">
            <div class="page-profile-one">2014-6
                <div class="page-profile-text"><p>    四川德善信达电子商务有限公司，成立于2014年6月，坐落于高新技术产业密集的成都市天府新城，是由四川德善投资管理有限公司倾力打造的全资子公司。 </p></div>
            </div>
            <div class="page-profile-two">2014-6
                <div class="page-profile-text"><p>  核心研发团队创建完成，吸引了一批
                优秀的人才。我们的项目正式开启，相信
            会是一个奇迹的诞生。</p></div>
            </div>
            <div class="page-profile-three">2014-6
                <div class="page-profile-text"><p>    德善信达团队正式组建，将大量吸纳各优秀人士的加入！</p></div>
            </div>
            <div class="page-profile-four">2014-6
                <div class="page-profile-text"><p> </p></div>
            </div>
        </div>
        {% include navigation.html %}
        {% include footer.html %}
    </body>
</html>

