---
pageName : contact_us
pageType : page
---
<html lang="zn-ch">
    {% include head.html  %}
    <body  >
        {% include header.html %}
        <div class="page-background">
            <img class="page-background-image" src="images/map.png">
            <div class="page-map-tag">
                <img src="images/tag.png">
            </div>
            <div class="page-address">
                <p>四川德善信达电子商务有限公司<br/>
                <br/>
                Tel：028-62877777<br/>
                Fax：028-62877777<br/>
                Add：成都市高新区益州大道中段722号复城国际T2栋23层
                </p>
            </div>
        </div>
        {% include navigation.html %}
        {% include footer.html %}
    </body>
</html>
