---
pageName: home
pageType : menubar
---

<html lang="zn-ch">
    {% include head.html  %}
    <body  >
        <div class="page-background">
            <img class="page-background-image"  src="images/home_background.png">

        </div>
        <div class="site-content">
            <div class="air-shadows">
                <img src="images/air_shadows.png">
            </div>
            <div class="page-navigation">
                <img class="background" src="images/navigation_background.png">
                <a class="nav-home"  href="about.html" img-url="images/home_radius.png"><img src="images/nav_home.png"></a>
                <a class="nav-about"  href="team.html" img-url="images/our_team_radius.png"><img src="images/nav_about.png"></a>
                <a class="nav-contact-us"  href="contact_us.html" img-url="images/contact_us_radius.png"><img src="images/contact_us.png"></a>
                <a class="nav-cor-culture"  href="company_profile.html" img-url="images/corporate_culture_radius.png"><img src="images/Cor_culture.png"></a>
                <a class="nav-company-profile"  href="about.html" img-url="images/about_us_radius.png"><img src="images/company_profile.png"></a>
                <div class="nav-radius"><img src="images/about_us_radius.png"></div>
                <div class="nav-radius"><img src="images/home_radius.png"></div>
                <div class="nav-radius"><img src="images/contact_us_radius.png"></div>
                <div class="nav-radius"><img src="images/our_team_radius.png"></div>
                <div class="nav-radius"><img src="images/corporate_culture_radius.png"></div>
            </div>
        </div>

        {% include footer.html %}
        {% include navigation.html %}
    </body>
</html> 
