---
pageName: home
pageType : menubar
---

<html lang="zn-ch">
    {% include head.html  %}
    <body  >
        <div class="page-background">
            <img class="page-background-image"  src="images/home_background.png">
        </div>
        <div class="page-navigation">
            <img src="images/navigation_background.png">
            <a class="nav-home"  href="about.html" ><img src="images/nav_home.png"></a>
            <a class="nav-about"  href="team.html" ><img src="images/nav_about.png"></a>
            <a class="nav-contact-us"  href="contact_us.html" ><img src="images/contact_us.png"></a>
            <a class="nav-cor-culture"  href="about.html" ><img src="images/Cor_culture.png"></a>
            <a class="nav-company-profile"  href="about.html" ><img src="images/company_profile.png"></a>
        </div>

    {% include footer.html %}
    {% include navigation.html %}
    </body>
</html> 
