---
pageName : team
---

<html lang="zn-ch">
    {% include head.html  %}
    <body>
         {% include header.html  %} 
         <div class="page-background">
            <img class="page-background-image" src="images/team_background.png">
        </div>
        <div class="page-team-menber">
            <a href="#"> <img src="images/team.png"></a>
       </div>    
       <div class="page-team-list">
          <a class="page-team-img"><img src="images/yezong.png"></a>
          <a class="page-team-img"><img src="images/yepei.png"></a>
          <a class="page-team-img"><img src="images/wugaomei.png"></a>
          <a class="page-team-img"><img src="images/renxiangdong.png"></a>
          <a class="page-team-img"><img src="images/tubing.png"></a>
          <a class="page-team-img"><img src="images/xiangke.png"></a>
          <a class="page-team-close"><img src="images/close.png"></a>
       </div>    
    </body>
    {% include navigation.html %}
    {% include footer.html  %}
</html> 
