---
pageName : team
---

<html lang="zn-ch">
    {% include head.html  %}
    <body>
        {% include header.html  %}
            <div class="page-background">
                <img class="page-background-image" src="images/team_background.png">
            </div>
              <div class="page-team-list-background"></div>
        <div class="site-content">
            <div class="page-team-manifesto">
             <p>我们，来自不同的地方，却拥有相同的梦想，我们是80后，我正在为未来奋斗！！！ </p>
            </div>
            <div class="page-team-menber">
                <a href="#" class="page-yezhong-radius" img-url="images/yezong.png"><img  src="images/yezhong_radius.png"></a>
                <a href="#" class="page-fengpei-radius" img-url="images/fengpei.png"><img  src="images/fengpei_radius.png"></a>
                <a href="#" class="page-xiangke-radius" img-url="images/xiangke.png"><img  src="images/xiangke_radius.png"></a>
                <a href="#" class="page-wugaomei-radius" img-url="images/wugaomei.png"><img  src="images/wugaomei_radius.png"></a>
                <a href="#" class="page-tubing-radius" img-url="images/tubing.png"><img  src="images/tubing_radius.png"></a>
                <a href="#" class="page-renxiangdong-radius" img-url="images/renxiangdong.png"><img  src="images/renxiangdong_radius.png"></a>
                <a href="#" class="page-xiongyijie-radius" img-url="images/xiongyijie.png"><img  src="images/xiongyijie_radius.png"></a>
            </div>    
            <div class="page-team-list">
                <a class="page-team-img"><img style="display:inline;"  src="images/yezong.png">
                </a>
                <a class="page-team-img"><img src="images/fengpei.png">
                </a>
                <a class="page-team-img"><img src="images/wugaomei.png">
                </a>
                <a class="page-team-img"><img src="images/renxiangdong.png">
                </a>
                <a class="page-team-img"><img src="images/tubing.png">
                </a>
                <a class="page-team-img"><img src="images/xiongyijie.png">
                </a>
                <a class="page-team-img"><img src="images/xiangke.png">
                </a>
                <a class="page-team-img" >
                    <img class="page-team-close" src="images/close.png" style="display:inline;" >
                </a>    
                <ul class="page-team-head-list" >
                    <div class="transerse_line"> </div>
                    <li><a data-img="images/yezong.png"style="opacity:1;"><img  src="images/yezong_head.png"></a></li>
                    <li><a data-img="images/fengpei.png"><img src="images/fengpei_head.png"></a></li>
                    <li><a data-img="images/wugaomei.png"><img src="images/wugaomei_head.png"></a></li>
                    <li><a data-img="images/renxiangdong.png"><img src="images/renxiangdong_head.png"></a></li>
                    <li><a data-img="images/tubing.png"><img src="images/tubing_head.png"></a></li>
                    <li><a data-img="images/xiongyijie.png"><img src="images/xiongyijie_head.png"></a></li>
                    <li><a data-img="images/xiangke.png"><img src="images/xiangke_head.png"></a></li>
                </ul>
            </div>    
        </div>
    </body>
    {% include navigation.html %}
    {% include footer.html  %}
</html> 
