<header class="site-header">

<div class="site-header-brand">
    <a class="site-title" href="index.html"><img src="images/logo2.png" /> </a>
  </div> 
    <ul class="site-nav">
      <li class="nav-menu-li"><a href="home.html" class="menu-link">主页</a></li>
      <li class="nav-menu-li"><a href="about.html"class="menu-link">公司简介</a></li>
      <li class="nav-menu-li"><a href="about.html" class="menu-link">企业文化</a></li>
      <li class="nav-menu-li"><a href="team.html" class="menu-link">团队风采</a></li>
      <li class="nav-menu-li"><a href="contact_us.html"class="menu-link">联系我们</a></li>
  </ul>
  <div class="site-header-url">
      <a   href="#">www.deshanjt.com</a>
  </div> 

</header>
