/**
 * 重新初始化全局变量
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/*html5 在IE中初始化*/

article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}

/**
 * 基本样式
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color:transparent;
    overflow: hidden;
}
@media screen and (max-width: 1000px) {
    body{
        overflow: auto;
    }
}
@media screen and (max-height: 700px){
    body{
        overflow: auto
    }
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    color: $white-color;
    text-decoration: none;
    border: 0;

    &:hover {
        text-decoration: none;
        color: $green-color;
    }
    &:active {
        text-decoration: none;
    }
    &:visited {
        text-decoration: none;
    }
}

/**
 * Wrapper
 */
.wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    width: 400px;
    font-family: "宋体";
    font-size: 12px;
    color: $black-color-light;
    @extend %clearfix;
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



