/**
 * Site header
 */
.site-header {
    min-height: 56px;
    background-color: $black-color;
    background-color: black;
    // Positioning context for the mobile navigation icon
    position: relative;

}
.site-header-url {
    float:left;
    margin-left: 1%;
    line-height: 54px;
    background-image: url(../images/boder-radius.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 160px;
    text-align: center;
    a {
    font-size: 14px;
    }

}

.site-header-brand {
    padding-left: 21%
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    img {
        height: 45px;
    }
}

.site-nav {
    float: left;
    line-height: 56px;
    width: 40%;
    .nav-menu-li{
        float: left;
        display: block;
        position: relative;
        margin-left: 10%;
        .menu-link{
            font-size: 12px;           
        }
        &:visited {
            background-color: $grey-color;
        } 

    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }

    }

}



/**
 * Site footer
 */
.site-footer {
    text-align: center;
    color: $grey-color;
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
