/**
 * 全站头部
 */
.site-header {
    min-height: 56px;
    background-color: $black-color;
    position: relative;

}
.site-header-url {
    float:left;
    margin-left: 5%;
    line-height: 54px;
    background-image: url(../images/radius.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 160px;
    text-align: center;
    a {
    font-size: 14px;
    }

}
/**
 * 头部商标
 */
.site-header-brand {
    padding-left: 21%
}
/**
 * 全站表头
 */
.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    img {
        height: 45px;
    }
}
/**
 * 全站导航
 */
.site-nav {
    float: left;
    line-height: 56px;
    width: 40%;
    .nav-menu-li{
        float: left;
        display: block;
        position: relative;
        margin-left: 10%;
        .menu-link{
            font-size: 14px;           
        }
        &:visited {
            background-color: $grey-color;
        } 

    }
   .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }

    }

}

/**
 * 全站 footer
 */
.site-footer {
    z-index: -1;
    position: fixed;
    bottom: 3%;
    left: 0;
    right: 0;
    text-align: center;
    color: $grey-color;
}

%page-next-previous-base {
    position: fixed;
    width: 40px; 
    height: 40px;
    z-index: 1;
    
    background-color: $black-color-light;
    border-radius: 40px;
    text-align: center;
    top: 50%;
    a {
        display: block;
        padding-top: 20%;
        &:hover {
             color: $white-color;
        }
    }

    &:hover {
     background-color: $green-color;
    
 }
}
/**
 * 下一页
 */
.page-next {
    @extend %page-next-previous-base;
    left: 96%;
}
/**
 * 上一页
 */
.page-previous {
    @extend %page-next-previous-base;
    right: 96%;
}
